html, body {
    font-family: 'Noto Sans JP', sans-serif;
    /* font-family: 'Noto Serif JP', serif; */
}

body {
    background-color: #F3F0EB;
}

a {
    text-decoration: none;
    color: #333333;
    display: inline-block;
}

ul {
    padding-inline-start: 20px;
}

/* base */

.pc_none {
    display: none;
}

.sp_none {
    display: block;
}

.w_200 {
    width: 200px;
}

.w_240 {
    width: 240px;
}

.w_300 {
    width: 300px;
}

.w_400 {
    width: 400px;
}

.w_550 {
    width: 550px;
}

.mb_12 {
    margin-bottom: 12px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_40 {
    margin-bottom: 40px;
}


.ml_12 {
    margin-left: 12px;
}

.pt_20 {
    padding-top: 20px;
}
.order_0 {
    order: 0;
}

.order_1 {
    order: 1;
}

.dis_fl {
    display: flex;
    flex-wrap: wrap;
}

.dis_fl.bet {
    justify-content: space-between;
}

.dis_fl.cen {
    justify-content: center;
}

.dis_fl.three .item {
    margin-right: 49px;
}

.dis_fl.three .item:nth-child(3n) {
    margin-right: 0;
}

.center {
    text-align: center;
}

.size20 {
    font-size: 20px;
}

.size24 {
    font-size: 24px;
}
section.common_content {
    margin-bottom: 100px;
}

.section_ttl {
    margin-bottom: 40px;
    position: relative;

}

.section_ttl:after {
    content: '';
    width: 36px;
    height: 1px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section_ttl.noborder::after {
    display: none;
}

section.common_content h2{
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    font-size: 24px;
}

body.page h1{
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    font-size: 24px;
}

section.common_content .sub_ttl{
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    display: block;
    text-align: center;
    padding-bottom: 16px  
}

.common_content_container {
    max-width: 1000px;
    margin: auto;
}


.cv_link {
    background-color: #422E05;
    padding: 10px 14px;
    color: #fff;
    border-radius: 4px;
    margin-top: 24px;
}

.cv_link .svg-inline--fa {
    margin-left: 8px;
}



/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F3F0EB;
    box-shadow: 0px 0px 4px #333;
    z-index: 999;
}

.h_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1, header .site_title {
    font-family: 'Noto Serif JP', serif;
    color: #333333;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;

}

header img.logo {
    display: inline-block;
    height: 60px;
}

.h_wrap .header_left {
    display: flex;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center; 
}
header .logo_link {
    margin-left: 20px;
    margin-top: 16px;
    margin-bottom: 16px;}

header .title_link {
    margin-left: 20px;
}



header nav ul {
    padding-inline-start: 0;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}


header .cv_link {
    margin-top: 0;
}

.openbtn {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.openbtn span.border {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    border-radius: 5px;
    background: #422E05;
    width: 28px;
}

.openbtn span.border:nth-of-type(1) {
    top: 13px;
}

.openbtn span.border:nth-of-type(2) {
    top: 21px;
}


.openbtn span.letter {
    opacity: 1;
    content: "MENU";
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    color: #422E05;
    font-size: 10px;
    text-transform: uppercase;
    transition: all .4s;
}


.openbtn.active span.border:nth-of-type(1) {
    top: 16px;
    left: 50%;
    transform: translateX(-50%) rotate(-30deg);
    width: 28px;
}

.openbtn.active span.border:nth-of-type(2) {
    top: 16px;
    left: 50%;
    transform: translateX(-50%) rotate(30deg);
    width: 28px;
}


/* footer */

.footer_inner {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}

.footer_inner::before {
    position: absolute;
    content: '';
    width: 98%;
    height: 1px;
    background-color: #707070;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


.f_ttl {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #707070;
}

.copyright {
    text-align: center;
    font-size: 14px;
}

footer .logo_link {
    height: 60px;
    margin-top: 20px;
    display: block;
}


footer .logo_link img{
    height: 100%;
}

.sitemap ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

.sitemap li {
    list-style: none;
}



/* main */

main {
    margin-top: 95px;
}

body.page main {
    margin-top: 130px;
}

/* front-page */

.main_visual {
    background: url('../img/room/room_108.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 80vh;
    margin-bottom: 72px;
}

.main_copy {
    position: absolute;
    bottom: 40px;
    right: 200px;
}

.main_copy .main_l_lttr {
    font-family: 'Noto Serif', serif;
    font-size: 56px;
    color: #fff;
    text-shadow: 0 0 10px #333;
}

.map iframe {
    width: 100%;
}

.bread .bread_wrap {
    max-width: 1000px;
    margin: auto;
    padding: 8px 0;
}

.bread .bread_wrap div{
    display: inline-block;
}

/* page-room */
a.room_img {
    display: block;
    position: relative;
    height: 200px;
    background: #eee;
}

a.room_img span.room_number {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: #fff;
    text-shadow: 0 0 10px #333;
    font-family: 'Noto Serif', serif;
}

/* page-price */

.tab-wrap{
    background-color: #fff;
}
   
.tab-wrap ul {
    display: flex;
    justify-content: space-between;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
   
.tab-btn {
    width: calc(100% / 7);
    padding: 10px 0;
    text-align: center;
    list-style: none;
    cursor: pointer;
    background: #000648;
    color: #fff;
    border-right: 1px solid #fff;
}

.tab-btn:first-child {
    border-radius: 8px 0 0 0;
}

.tab-btn:last-child {
    border-radius: 0 8px 0 0;
}

.tab-btn:last-child {
    border-right: none;
}
   
.tab-btn.show {
    background: #fff;
    border-top: 2px solid #333;
    color: #333;
}
   
.tab-contents {
    display: none;
}
   
.tab-contents.show {
    display: block;
    padding: 80px 40px;
}

.tab-wrap ul li.one-row{
    display: flex;
    justify-content: center;
    align-items: center;
}


.plan_type_text {
    margin-bottom: 40px;
}


.plan_type_text h2 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.plan_type_text h2:after {
    content: "";
    width: 32px;
    height: 1px;
    background-color: #333;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.plan_type {
    margin-bottom: 40px;
}

.plan_type_item {
    background-color: #000648;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 32px;
    width: 30%;
}

.plan_type_item h3 {
    font-family: 'Noto serif', serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.tab-btn a {
    width: 100%;
    height: 100%;
    color: #fff;
}

.tab-btn.one-row a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-btn.show a {
    color: #333;
}

/* food */
.food_item {
    width: 230px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.food_item:nth-child(4n) {
    margin-right: 0;
}

@media screen and (max-width:1000px){

    header h1, header .site_title {
        font-size: 16px;
    }

    nav.header_right {
        font-size: 14px;
    }

    .common_content_container {
        width: 95%;
    }

    .dis_fl .item {
        width: 48%;
        margin-right: 4%;
    }
    .dis_fl.three .item {
        width: 48%;
        margin-right: 4%;
    }

    a.room_img img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    a.room_img {
        height: 300px;
    }

    .dis_fl.three .item:nth-child(3n) {
        margin-right: 4%;
    }

    .dis_fl.three .item:nth-child(2n) {
        margin-right: 0;
    }


    .bread {
        width: 90%;
        margin: auto;
    }

}

@media screen and (max-width:698px){

    .sp_none {
        display: none;
    }

    .pc_none {
        display: block;
    }

    /* base */
    .sp_w_100per {
        width: 100%;
    }

    .sp_left {
        text-align: left;
    }

    .sp_mb_20 {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 22px;
    }

    body.page h1{
        font-size: 22px;
    }

    .sp_order_0 {
        order: 0;
    }
    
    .sp_order_1 {
        order: 1;
    }


    .dis_fl.three .item {
        margin-right: 0;
    }

    /* header */

    .h_wrap .logo_link img {
        height: 48px;
    }

    .h_wrap {
        display: block;
    }

    .h_wrap .header_right {
        display: none;
    }

    .h_wrap .header_left {
        justify-content: space-around;
    }

    header {
        transition: all .4s;
    }

    header .logo_link {
        margin-left: 0;
    }

    header .title_link {
        margin-left: 0;
    }

    header .cv_link {
        margin-top: 20px;
        width: 90%;
    }

    header nav ul {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    header nav ul li {
        display: block;
        margin-right: 0;
        text-align: center;
        border-top: 1px solid #707070;
    }

    header nav ul li a{
        width: 100%;
        padding: 20px;
    }

    .bread_wrap {
        width: 100%;
    }

    /* main_visual */

    .main_copy {
        text-align: center;
        bottom: 40px;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 98%;
        margin: auto;
    }

    .main_copy .main_l_lttr {
        font-size: 30px;
    }

    /* content */

    .common_content_wrapper {
        width: 90%;
        margin: auto;
    }


    section.common_content .sub_ttl {
        font-size: 14px;
    }

    /* main */

    main {
        margin-top: 84px;
    }

    body.page main {
        margin-top: 120px;
    }

    .footer_inner {
        width: 90%;
        margin: auto;
    }

    /* food */
    .food_item {
        width: 100%;
        margin-right: 0;
    }

    /* price */

    .tab-wrap ul {
        flex-wrap: wrap;
    }

    .tab-wrap ul li {
        width: 100%;
        border-bottom: #fff 1px solid;
    }

    .tab-btn:first-child,
    .tab-btn:last-child {
        border-radius: 0px;
    }

    .plan_type_item {
        width: 100%;
        margin-bottom: 20px;
    }

    .map {
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
    }
    .map iframe {
        position: absolute;
        left: 0;
        top: 0;
        height: 360px;
        width: 100%;
    }

    .dis_fl .item {
        width: 100%;
        margin-right: auto;
    }

    .dis_fl.three .item {
        width: 100%;
        margin-right: auto;
    }

    .dis_fl.three .item:nth-child(3n) {
        margin-right: auto;
    }

    .dis_fl.three .item:nth-child(2n) {
        margin-right: auto;
    }

    a.room_img {
        height: 200px;
    }

}



